#card {
    /* width: 290px;  */
    /* width: 100%;
    max-height: 350px;
    min-height: 350px;
    box-shadow: 0 0 8px ;
    border: 1px solid black; 
    overflow: hidden;    */
}

#cardimg { 
    /* min-height: 170px;       
    max-height: 170px;
    max-width: 230px;     */
}

#pizzaVariety_message {
    /* display: inline-block;
    background: chartreuse;
    width: 13em;
    height:6em;    
    text-overflow: ellipsis; */
}

