
#register {
    background-color: white;
    margin: 30px 0px 0px 400px;
    width: 35%;
    height: auto;
    box-shadow: 11px 11px 8px;
    border-radius: 5px;
}

#regtitle { 
    margin: 0 0 0 75px;
    font-size: 50px;
    color: darkviolet;
    text-shadow: 5px 5px 5px black;
}

#fullwidthinput {
    width: 28rem;
}

#emailOtp {
    width:12rem;
    
}

#resend_otp {
    font-size: 14px;
    height: 24px;
    margin-top: 14px;
    color: brown;
    font-weight: 600;
    background: white;
}

#regbtn {
    width:12rem;
}
