
#offcanvas {
    width: 13%;
}

#nav-item {
   width: 100%;
}

#nav-item-name, #dropdown {
    color: white;
}

#nav-item-name:hover, #dropdown:hover {
    background-color: white;
    color: black;
}